.routingContainer {
  .tag-menu-container {
    display: flex;
    .tag-logo {
      height: 84px;
      position: relative;
      top: 45px;
    }
  }
  .tag-landing-page {
    width: 100%;
    height: 625px;
    overflow: hidden;
    max-width: 1224px;
    margin: auto;
    .tag-border-image1 {
      position: absolute;
      left: -303px;
    }
    .tag-checkup-button {
      width: 176px;
      height: 48px;
      background-color: white;
      border-radius: 8px;
      font-size: 18px;
      margin-top: 13px;
      position: absolute;
      left: 630%;
      cursor: pointer;
    }
    .tag-info-container {
      display: flex;
      .tag-info-image {
        width: 58%;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .routingContainer {
    .tag-landing-page {
      max-width: 85%;
    }
  }
}
