.standardsContainer {
  max-width: 1224px;
  margin: auto;
  height: 800px;
  .standards-heading {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 85px auto 30px;
  }
  .standards-description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 0px auto 145px;
  }
  .standards-table {
    .row1 {
      margin-left: 30px;
      margin-bottom: 100px;
    }
    .row2 {
      margin-left: 23%;
      gap: 13%;
    }
    .standards-table-row {
      display: flex;
      float: left;
      .standards-table-data {
        display: flex;
        .logo {
          position: absolute;
        }
        .logo1 {
          height: 100px;
          margin: -25px;
        }
        .logo2,
        .logo3 {
          height: 150px;
          margin: -65px;
        }
        .logo4 {
          width: 144px;
          height: 69px;
          margin: -50px;
        }
        .description-wrapper {
          background: #212121;
          border-radius: 10px;
          min-height: 118px;
          .description {
            margin: 25px 20px 20px 65px;
          }
        }

        .desc1 {
          width: 70%;
        }
        .desc2 {
          width: 100%;
        }
      }
    }
  }
}
.slide-up {
  transform: translateY(-2.3rem);
  opacity: 1;
  transition: opacity 1s ease-out, transform 0.45s ease-out;
}

.hidden {
  opacity: 0;
  transform: translateY(40px);
}

@media only screen and (max-width: 1440px) {
  .standardsContainer {
    max-width: 85%;
  }
}
