.blogPageContainer {
  max-width: 1224px;
  margin: auto;
  h1 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 80px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 34px;
      height: 10px;
      background: #dbe126;
      left: 0px;
      margin-top: 70px;
    }
  }
  .blogs-list {
    padding: unset;
    .blogs-list-item {
      display: flex;
      gap: 30px;
      border-bottom: 1px solid #252525;
      padding-bottom: 35px;
      margin-bottom: 35px;
      .blog-image-wrapper {
        position: relative;
        overflow: hidden;
        width: 725px;
        height: auto;
        .blog-image {
          width: 100%;
          transition: transform 0.45s ease-out;
        }
      }
      .blog-image-wrapper:hover {
        .blog-image {
          transform: scale(1.3);
          transition: transform 0.45s ease-out;
        }
      }
      .blog-image-wrapper:hover ~ .blog-section {
        color: #dbe126;
      }
      .blog-section {
        margin-right: 60px;
        .blog-content {
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 25px;
        }
        .blog-name {
          font-weight: 400;
          font-size: 16px;
          color: white !important;
        }
        .blog-date {
          font-weight: 400;
          font-size: 16px;
          color: white !important;
        }
      }
    }
  }
  .blog-footer-wrapper {
    position: relative;
    text-align: center;
    margin: 120px auto;
    .blog-quote-image {
      width: 4.5%;
      margin-right: 36%;
      margin-bottom: -3%;
      transform: translate(-50%, -50%);
    }
    .blog-footer-text {
      font-family: "Courgette";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      color: #dbe126;
      position: absolute;
      left: 33%;
    }
  }
  .blog-services-button {
    background: #dbe126;
    border-radius: 2px;
    width: 221px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin: 0px 40% 140px;
  }
}

@media only screen and (max-width: 1440px) {
  .blogPageContainer {
    max-width: 85%;
  }
}
