.reachContainer {
  max-width: 1224px;
  margin: auto;
  height: 1670px;
  .reach-section {
    margin-top: 70px;
    display: flex;
    gap: 80px;
    margin-right: 15%;
    .reach-image-wrapper {
      position: relative;
      width: fit-content;
      .reach-image {
        position: relative;
        width: 600px;
      }
      &::before {
        content: "";
        position: absolute;
        left: 97%;
        top: -40px;
        transform: translateX(-50%);
        border-left: 116px solid #dbe126;
        height: 355px;
      }
    }
    .react-content-section {
      margin: auto;
      .react-content {
        font-weight: 700;
        font-size: 32px;
        span {
          color: #dbe126;
        }
      }
    }
  }
  .social-media-section {
    text-align: center;
    h3 {
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 50px;
    }
    .social-media-links {
      font-weight: 700;
      font-size: 32px;
      a {
        color: white;
        text-decoration: none;
        margin: auto 40px;
        &:hover {
          color: #dbe126;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .reachContainer {
    max-width: 100%;
    margin: auto;
    .reach-section {
      .reach-image-wrapper {
        .reach-image {
          width: unset;
        }
        &::before {
          height: 119%;
        }
      }
    }
  }
}
