.strengthsContainer {
  height: 785px;
  position: relative;
  overflow: hidden;
  .strengths-heading {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 0px auto 40px;
    &:after {
      position: absolute;
      content: "";
      width: 30px;
      height: 6px;
      background: #dbe126;
      left: 49%;
      margin-top: 59px;
    }
  }
  .strengths-content {
    text-align: center;
    margin: 0px auto 70px;
    font-weight: 400;
    font-size: 16px;
    max-width: 1152px;
  }
}

@media only screen and (max-width: 1440px) {
  .strengthsContainer {
    .strengths-content {
      max-width: 80%;
    }
  }
}
