.partnersContainer {
  height: 1140px;
  max-width: 1224px;
  margin: auto;
  .partners-wrapper {
    margin-right: 7%;
    .partners-desc {
      font-weight: 700;
      font-size: 32px;
      margin-left: 20px;
      margin-bottom: 50px;
      &::before {
        content: "";
        position: absolute;
        left: 0%;
        height: 41px;
        border-left: 8px solid #dbe126;
      }
    }
    .partners-image-container {
      position: relative;
      .partners-image {
        width: 100%;
        height: 425px;
        margin-bottom: 120px;
      }
      .tag-border-image3-1 {
        position: absolute;
        top: 0%;
        left: 100%;
        width: 7%;
        transform: translate(-50%, -50%);
      }
      .tag-border-image4 {
        position: absolute;
        top: 83%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .partnersContainer {
    max-width: 85%;
  }
}
